<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ceafc653-3730-4fc7-9905-06331f570312" Publisher="CN=Carlos" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CSharp_HelloWorld</DisplayName>
    <PublisherDisplayName>Carlos</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CSharp_HelloWorld.App">
      <m2:VisualElements DisplayName="CSharp_HelloWorld" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="CSharp_HelloWorld" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\keep-calm-and-may-the-force-be-with-you-320.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>